h1, h2, h3, h4, h5, h6 {
	
}

h1.entry-title {
	color: $color-orange;
	font: {
		size: 40px;
		weight: 300;
	}
    line-height: 1.2;
    margin-bottom: 10px;
    .last-word {
        font-weight: 600;
    }
	@media screen and (min-width: $tabwidth) {
		font-size: 65px;
	}
	@media screen and (min-width: $deskwidth) {
		font-size: 85px;
	}
}