$color__link : #0999F3;
a {
	color: $color__link;

	/*&:visited {
		color: $color__link-visited;
	}*/
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
.step {
	width: auto;
	overflow: hidden;
	margin: 0 0 20px 0;	
	background-color: rgba(255,255,255,.05);
	// border-radius: 10px;
}
.step-title {
	
}
.question-image {
	width: 15px;
	height: 15px;
	position: absolute;
	left: 0px;
	top: 3px;
	background-image: url(images/faq.png);
	background-repeat: no-repeat;
	background-position: 0 0;	
}
.question-image.close {
	background-position: -15px 0;	
}
.step-desc {
	display:none;
}